/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/




/*big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
    .logo {
        margin-left: 20px;
    }
    .main-nav {
        margin-right: 40px;
    }
    .row {
        padding: 0 2%;
    }
    .section-testimonials .row:nth-child(2) {
        padding: 0 5%;
    }
}

/*    small tablet to big tablet*/
@media only screen and (max-width: 1023px ) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .steps-box:last-child {
        margin-top: 20px;
    }
    .works-step {
        margin-bottom: 30px;
    }
    .works-step:last-of-type {
        margin-bottom: 50px;
    }
    .plan-box {
        width: 100%;
        margin: 0%;
    }
    .plan-price {
        font-size: 250%;
    }
    .section-plans {
        padding: 60px 0;
    }
    .steps-box:last-child {
        margin-top: 45px;
    }
    .main-nav {
        display: inline-block;
    }

}

/* small phones to small tablets  */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    section {
        padding: 50px;
    }
    h1{
        font-size: 180%;
    }
    h2 {
        font-size: 150%;
    }
    .hero-text-box {
        width: 100%;
        text-align: center;
    }
    .col {
        width: 100%;
    }

    .mobile-nav-icon {
        display: block;
        margin-right: 10px;
        font-size: 120%;
        margin-top: 25px;
    }

    .logo {
        height: 65px;
    }

    .main-nav  {
        display: none;
        float: left;
        margin-top: 40px;
        font-size: 130%;
    }

    .main-nav li {
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border-bottom: none;
        margin: 7px 0;
        vertical-align: middle;
    }

    .sticky .main-nav {
        margin: 15px 5px 10px 10px;
    }

    .sticky .mobile-nav-icon {
        margin-top: 12px;
    }

    .sticky .mobile-nav-icon ion-icon {
        color: #000;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 7px 0;
    }

    .steps-box:first-child {
        text-align: center;
    }
    .steps-box:last-child {
        text-align: center;
    }
    .app-screen {
        width: auto;
        height: 400px;
        margin-bottom: 20px;
    }
    .works-step div:first-child {
        margin-right: 18px;
        padding-top: 8px;
    }
    .works-step p {
        padding-top: 7px;
    }

    .city-feature {
        text-align: center;
        font-size: 150%;
    }
    .box h3 {
        font-size: 150%;
    }
    .icon-small .icon-inner svg{
        font-size: 180%;
    }

    .section-testimonials .col {
        margin: 18px 0;
    }
    .plan-box {
        width: 80%;
        margin: 10px auto ;
    }
    .section-plans .col {
        margin: 0;
    }
    .plan-price,
    .plan-price-month {
        text-align: center;
    }
    .contact-form {
        width: 100%;
    }
    .contact-form .row {
        margin: 15px 0;
        font-size: 120%;
        font-weight: 400;
    }
    .checkbox {
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: 7px;
    }
    form .row:last-child .col:first-child {
        display: none;
    }
    form .row:last-child {
        margin: 0;
    }
    input[type=submit] {
        margin: 0;
    }
    footer .col:nth-child(2) {
        margin-top: 15px;
    }
}

/* small phones: from 0 to 480px */
@media only screen and ( max-width: 480px ) {
    .box {
        margin-bottom: 10px;
    }
    form .col {
        margin-bottom: 10px;
    }

    .checkbox {
        margin-top: 0;
    }

}
